 <div class="user-details">
  <h1> About me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">

    <div class="tech">
      <h2>Education</h2>
      <i class="icon fa fa-graduation-cap"></i>

        <p> Computer Sciene <br />Master degree <br />@Utsunomiya University</p>
        <p> Computer Sciene <br />Bachelor degree <br />@Utsunomiya University</p>
        <p> Associate Degree <br />@Kushiro College</p>



    </div>

    <div class="tech">
      <h2>Skills</h2>
      <i class="icon fa fa-flag"></i>

        <p> Event Organizing</p>
        <p> Englsh & Japanese</p>
        <p> Web Development</p>

    </div>

    <div class="tech">
      <h2>Hobby</h2>
      <i class="icon fa fa-thumbs-up"></i>

        <p> Talking with people</p>
        <p> Solving Puzzles: Sudoku</p>
        <p> Running</p>

    </div>
</div>
