 <div class="user-details">
  <h1> About me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">

    <div class="tech">
      <h2>Education</h2>
      <i class="icon fa fa-graduation-cap"></i>

        <p> Computer Science <br />Master degree <br />@Utsunomiya University</p>
        <p> Computer Science <br />Bachelor degree <br />@Utsunomiya University</p>
        <p> Information Technology <br />Associate Degree <br />@Kushiro College</p>

    </div>

    <div class="tech">
      <h2>Skills</h2>
      <i class="icon fa fa-flag"></i>

        <p> Event Planning / Organizing</p>
        <p> Web Development</p>
        <p> English & Japanese & Mongolian</p>

    </div>

    <div class="tech">
      <h2>Hobby</h2>
      <i class="icon fa fa-thumbs-up"></i>

        <p> Talking with people</p>
        <p> Solving Sudoku Puzzle</p>
        <p> Running</p>
        <!-- <p> Listening books</p>
        <p> Watching Sumo</p>-->

    </div>
</div>
