 <div class="user-details">
  <h1> About me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">

    <div class="tech">
      <h2>Education</h2>
      <i class="icon fa fa-graduation-cap"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>

    <div class="tech">
      <h2>Skills</h2>
      <i class="icon fa fa-flag"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>

    <div class="tech">
      <h2>Hobby</h2>
      <i class="icon fa fa-thumbs-up"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
