    <div class="user-details">
      <h2> E-learning </h2>
      <p> Badge of my e-learning courses </p>

    <div class="user">
      <div class="tech">
        <div data-iframe-width="200" data-iframe-height="270" data-iframe-align="center" data-share-badge-id="cdd07244-603c-4666-95fa-5aaf978278dd"></div>
          <script type="text/javascript">
           (function() {
               var s = document.createElement('script');
               s.type = 'text/javascript';
               s.async = true;
               s.src = '//cdn.youracclaim.com/assets/utilities/embed.js';
               var o = document.getElementsByTagName('script')[0];
               o.parentNode.insertBefore(s, o);
             })();
          </script>
      </div>
    </div>

