<div class="user-details">
</div>
 <div class="user">

   <div class="tech">
     <h2> E-learning </h2>
     <p> Badges of my e-learning courses </p>
     <div data-iframe-width="200" data-iframe-height="270" data-share-badge-id="cdd07244-603c-4666-95fa-5aaf978278dd"></div>
     <script type="text/javascript">
      (function() {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//cdn.youracclaim.com/assets/utilities/embed.js';
        var o = document.getElementsByTagName('script')[0];
        o.parentNode.insertBefore(s, o);
      })();
    </script>
   </div>

   <!--
   <div class="tech">
     <h2>Skills</h2>
     <i class="icon fa fa-flag"></i>

       <p> Event Planning / Organizing</p>
       <p> Web Development</p>
       <p> English & Japanese & Mongolian</p>

   </div>

   <div class="tech">
     <h2>Hobby</h2>
     <i class="icon fa fa-thumbs-up"></i>

       <p> Talking with people</p>
       <p> Solving Sudoku Puzzle</p>
       <p> Running</p>
       <p> Listening books</p>
       <p> Watching Sumo</p>
   -->

   </div>
</div>
