<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<!--Mogul Wind-->
<div class="user-projects">
  <div class="images-right">
    <img alt="mogulwind" src="{{ "/assets/img/mogulwind.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Mogul Wind </h3>
    <ul>
      <li> Co-Founder</li>
      <li> Organizer</li>
    </ul>
    <p> TODO </p>
    <a class="project-link" href="https://www.facebook.com/Mogulwindcom/">Check it out</a>
  </div>
</div>

<!--Yamoh-->
<div class="user-projects">
  <div class="images-left">
    <img alt="yamoh" src="{{ "/assets/img/yamoh.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Yamoh </h3>
    <ul>
      <li> Web Development</li>
    </ul>
    <p> TODO </p>
    <a class="project-link" href="http://yamoh.org/">Check it out</a>
  </div>
</div>

<!--Startup Weekend-->
<div class="user-projects">
  <div class="images-right">
    <img alt="startup-weekend" src="{{ "/assets/img/startup-weekend.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Startup Weekend Tokyo</h3>
    <ul>
      <li> Hackathon: Participant</li>
      <li> Winner 1st prize :)</li>
    </ul>
    <p> TODO </p>
    <a class="project-link" href="https://swtokyo.doorkeeper.jp/events/57249">Check it out</a>
  </div>
</div>

<!--Harumatsuri-->
<div class="user-projects">
  <div class="images-left">
    <img alt="harumatsuri" src="{{ "/assets/img/harumatsuri.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Harumatsuri </h3>
    <ul>
      <li> Stage </li>
      <li> Organizer </li>
    </ul>
    <p>TODO </p>
    <a class="project-link" href="http://harumatsuri.net">Check it out</a>
  </div>
</div>

<!--hello-ruby-->
<div class="user-projects">
  <div class="images-right">
    <img alt="hello-ruby" src="{{ "/assets/img/hello-ruby.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Hello Ruby</h3>
    <ul>
      <li> Book Translating</li>
      <li> English & Programming</li>
    </ul>
    <p> TODO </p>
    <a class="project-link" href="http://www.helloruby.com/publishers">Check it out</a>
  </div>
</div>
