<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<!--Mogul Wind-->
<div class="user-projects">
  <div class="images-right">
    <img alt="mogulwind" src="{{ "/assets/img/mogulwind.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Mogul Wind </h3>
    <ul>
      <li> Co-Founder</li>
      <li> Web Development</li>
    </ul>
    <p> <b>Mogul Wind</b> NGO is a startup movement to spread the idea of entrepreneurship, innovation and creativity.
    <p> Our Vision is to helps startup companies to develop their business successfully by providing services such as networking events, workshops, and so on.
    <p> In other word "startup incubator".
    <p> Now we are focusing on to help Mongolian fellow entrepreneurs to reach the Japanese market, on the other hand, Japanese entrepreneurs to reach the Mongolian market.
    <p> And my team has successfully organized 10+ events, our community growing to 450+ in one year.
    <a class="project-link" href="https://www.facebook.com/Mogulwindcom/">Check it out</a>
  </div>
</div>

<!--Yamoh-->
<div class="user-projects">
  <div class="images-left">
    <img alt="yamoh" src="{{ "/assets/img/yamoh.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Mongolian Student Association in Japan </h3>
    <ul>
      <li> Member / Organizer </li>
    </ul>
    <p> We did organize a variety of events for Mongolian students in Japan such as sport festival, new year party, and so on.
    <a class="project-link" href="http://yamoh.org/">Check it out</a>
  </div>
</div>

<!--Startup Weekend-->
<div class="user-projects">
  <div class="images-right">
    <img alt="startup-weekend" src="{{ "/assets/img/startup-weekend.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Startup Weekend Tokyo</h3>
    <ul>
      <li> Hackathon: Participant</li>
      <li> Winner 1st place :)</li>
    </ul>
    <p> Startup Weekend is a global event to build a startup from scratch for 54 hour.
    <p> We tried to solve a problem of people's anxiety of burglary in the coffee shop. We made a IoT device to solve this problem and pitched in front of VCs.
    <a class="project-link" href="https://swtokyo.doorkeeper.jp/events/57249">Check it out</a>
  </div>
</div>

<!--Harumatsuri-->
<div class="user-projects">
  <div class="images-left">
    <img alt="harumatsuri" src="{{ "/assets/img/harumatsuri.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Harumatsuri </h3>
    <ul>
      <li> Stage Organizer</li>
      <li> Web Development</li>
    </ul>
    <p><b>Harumatsuri</b> is the biggest overseas festival of Mongolia. It is a great opportunity to showcase Mongolian culture to Japanese people.</p>
    <a class="project-link" href="http://harumatsuri.net">Check it out</a>
  </div>
</div>

<!--hello-ruby-->
<div class="user-projects">
  <div class="images-right">
    <img alt="hello-ruby" src="{{ "/assets/img/hello-ruby.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Hello Ruby</h3>
    <ul>
      <li> Book Translating</li>
      <li> English & Programming</li>
    </ul>
    <p> I watched this book's author's <a href="https://www.ted.com/talks/linda_liukas_a_delightful_way_to_teach_kids_about_computers?language=mn#t-378742">TED video</a> and inspired the idea of making creator not consumer.
    <p> So, I am in the process of translating this children's book.
    <a class="project-link" href="http://www.helloruby.com/meetruby">Check it out</a>
  </div>
</div>
